@media (max-width: 1200px){
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
    }
    .slider_contant h2 {
        font-size: 44px;
    }
    .service_contant p {
        font-size: 13px;
    }
    .process_item h2 {
        font-size: 25px;
        margin-top: 20px;
        color: #121B64;
    }
}
@media (max-width: 992px){
    .slider_contant h2 {
        font-size: 32px;
    }
    .slider_contant p {
        font-size: 16px;
    }
    .service_contant h3 {
        font-size: 24px;
    }
    .portfolio_menu ul li a {
        margin-right: 20px;
    }
    .portfolio_menu ul .res_menu{
        margin-top: 35px;
        position: relative;
        right: 14px;
    }
}
@media (max-width: 768px){
    .about_contant h2{
        text-align: center;
    }
    .about_contant p{
        text-align: justify;
    }
    .about_contant h5{
        text-align: center;
    }
    .working_place img{
        position: relative;
        left: 40px;
        margin-bottom: 40px;
    }
    .line img {
        width: 240px;
        position: absolute;
        top: -37px;
        left: 143px;
    }
    .process_item {
        padding: 20px;
        width: 100%;
        margin: 0;
    }
    .process_item p {
        margin-bottom: 0;
    }
    .portfolio_menu ul .res_menu {
        margin-top: 35px;
        position: relative;
        right: -1px;
    }
    .contact_form {
        margin-top: 25px;
    }
    .navbar-nav{
        text-align: center;
    }
    
}
@media (max-width : 576px){
    .slider_contant {
        width: 400px;
    }
    .slider_contant h2 {
        font-size: 25px;
    }
    .about_contant h5 {
        text-align: center;
        font-size: 25px;
    }
    .work_place img{
        margin-bottom: 20px;
    }
    .navbar-toggler{
        position: relative;
        right: 135px;
    }
    .navbar-brand img{
        max-width: 60%;
    }
    .navbar-nav{
        text-align: center;
    }
    .footer_content p{
        font-size: 14px;
    }
    .footer_content p span{
        font-size: 16px;
    }
    .portfolio_menu ul .res_menu {
        margin-top: 50px;
    }
    .row{
        width: 100%;
    }
}
@media (max-width : 575.98px){
    .slider_contant {
        max-width: 100%;
    }
    .slider_contant h2 {
        font-size: 25px;
    }
    .about_contant h5 {
        text-align: center;
        font-size: 25px;
    }
    .work_place img{
        margin-bottom: 10px;
    }
    
    .navbar-toggler{
        position: relative;
        right: 135px;
    }
    .navbar-brand img{
        max-width: 60%;
    }
    .navbar-nav{
        text-align: center;
    }
    .footer_content p{
        font-size: 14px;
    }
    .footer_content p span{
        font-size: 16px;
    }
}